<h1>Balance ton porc et ta truie!</h1>
<p>
	<form method="post">
		<input type="hidden" name="authenticity_token" id="authenticity_token">
		<textarea placeholder="Ton gossip..." name="content" cols="30">
		</textarea> <br>
		<input type="submit" value="Enregistre ton gossip anonymement..." class: "btn btn-lg btn-primary">

	</form>



</p>
